html {
    font-size: 62.5%;
}

.layout {
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d1117;
    color: #c9d1d9;
    padding: 0 2rem;
}

.ant-message-error,
.ant-message-success {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .9rem 1.2rem;
    background-color: #0d1117;
    color: #c9d1d9;
}